<nav id="header" class="navbar bg-dark">
  <div class="container-fluid d-flex justify-content-between">
    <%= link_to t("title"), root_path, class: "navbar-brand text-white" %>

    <%= form_tag languages_update_path, method: :post, class: "d-flex align-items-center", id: "language_form" do %>
      <%= image_tag("icons/dropdown_arrow", alt: "dropdown arrow", height: 10) %>
      <%= select_tag :locale, options_for_select(I18n.available_locales.map { |locale| [I18n.t(locale), locale] }, I18n.locale), class: "form-control bg-dark border-0 fs-3", id: "language_select" %>
    <% end %>
  </div>
</nav>
