// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.img-size {
  width: 100%;
  height: auto;

  @media only screen and (min-width : 1224px) {
    width: auto;
    height: 22rem;
  }
}
